# ── FNBSense infra (dev) ──────────────────────────────
COMPOSE_PROJECT_NAME=fnbsense

# RabbitMQ (message broker antar-service)
RABBITMQ_DEFAULT_USER=fnbsense
RABBITMQ_DEFAULT_PASS=change_me_in_dev
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# Redis (cache / queue shared dev)
REDIS_PORT=6379

# Traefik (API Gateway)
TRAEFIK_HTTP_PORT=80
TRAEFIK_DASHBOARD_PORT=8080

# Domain dev (routing gateway). Pakai *.localhost yang otomatis resolve ke 127.0.0.1
APP_DOMAIN=localhost
